{% extends 'index.html' %}
{% block title %}Suppliers{% endblock %}
{% block content %}

<style>
    .table>:not(caption)>*>* {
    padding: .2rem;
    }
</style>

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show">
            {{ message }}
            <button class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
</div>
{% endif %}
<div class="text m-3">
    <a href="{% url 'dashboard' %}" style="text-decoration: none; color: #6e6e6e;"><b> Dashboard</b></a>
     / 
    <span style="color: #39a5b8;"><b>Suppliers</b></span>
</div>

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <h4>Suppliers</h4>
                <a href="{% url 'supplier_create' %}" class="btn btn-primary">+ Add Supplier</a>
            </div>
            <form method="get" class="d-inline-block mb-4">
                <label>Data per page: </label>
                <select name="per_page" onchange="this.form.submit()">
                    <option value="5" {% if per_page|add:'0' == 5 %}selected{% endif %}>5</option>
                    <option value="10" {% if per_page|add:'0' == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if per_page|add:'0' == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if per_page|add:'0' == 50 %}selected{% endif %}>50</option>
                </select>
            </form>
            <table class="table table-hover align-middle">
                <thead class="table-primary align-middle">
                    <tr>
                        <th style="width: 10%;" class="p-2">S.N.</th>
                        <th style="width: 15%;">Name</th>
                        <th style="width: 15%;">Phone</th>
                        <th style="width: 15%;">Address</th>
                        <th class="text-end p-2" style="width: 10%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in page_obj %}
                    <tr>
                        <td class="p-2">{{ forloop.counter0|add:page_obj.start_index }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.phone }}</td>
                        <td>{{ s.address }}</td>
                        <td class="text-end">
                            <div class="dropdown">
                                <button class="btn btn-sm " type="button" data-bs-toggle="dropdown" style="font-size: 22px;">
                                    &#8942;   <!-- 3 dots -->
                                </button>

                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'supplier_update' s.id %}">
                                            ✏️ Edit
                                        </a>
                                    </li>
                                    <li>
                                        <form method="post" action="{% url 'supplier_delete' s.id %}" onsubmit="return confirm('Are you sure you want to delete this supplier?');">
                                            {% csrf_token %}
                                            <button type="submit" class="dropdown-item text-danger">🗑️ Delete </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center text-muted">No suppliers found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav class="d-flex justify-content-end mt-3">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}


                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}&per_page={{ per_page }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}


                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

    
{% endblock %}