{% extends 'index.html' %}

{% block content %}
<div class="container mt-4 col-md-6 mx-auto">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="mb-3 text-primary">
                {% if form.instance.pk %}
                    Update Permission
                {% else %}
                    Add Permission
                {% endif %}
            </h4>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-success mt-3">
                    {% if form.instance.pk %}
                        Update 
                    {% else %}
                        Save 
                    {% endif %}
                </button>
                <a href="{% url 'permission_list' %}" class="btn btn-secondary mt-3">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
