{% extends 'index.html' %}
{% block title %}{% if product %}Update Product{% else %}Add Product{% endif %}{% endblock %}

{% block content %}
<div class="text m-3">
    <a href="{% url 'dashboard' %}" style="text-decoration: none; color: #6e6e6e;"><b> Dashboard</b></a>
     / 
    <a href="{% url 'product_list' %}" style="text-decoration: none; color: #6e6e6e;"><b>Product List</b> </a>
      / 
    <span style="color: #39a5b8;"><b>{% if product %}Product Update{% else %}Product Create{% endif %}</b></span>

    <div class="d-flex justify-content-between align-items-center mt-2">
        <h3>{% if product %}Update Product{% else %}Create Product{% endif %}</h3>
        <a href="{% url 'product_list' %}" class="btn btn-outline-secondary">Back</a>
    </div>
</div>

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4>Basic Information</h4>
            <p>Essential product details and pricing</p><hr>

            <!-- ALERT MESSAGE -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Product Name -->
                <div class="mb-3">
                    <label for="id_name" class="form-label">Product Name <span class="text-danger">*</span></label>
                    <input type="text" name="name" id="id_name" class="form-control" placeholder="e.g" 
                        value="{% if product %}{{ product.name }}{% endif %}" required>
                </div>

                <!-- Category -->
                <div class="mb-3">
                    <label for="id_category" class="form-label">Category <span class="text-danger">*</span></label>
                    <select name="category" id="id_category" class="form-select" required>
                        <option value="" disabled>Select category</option>
                        {% for cat in categories %}
                            <option value="{{ cat.id }}" {% if product and product.category.id == cat.id %}selected{% endif %}>{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Price -->
                <div class="mb-3">
                    <label for="id_price" class="form-label">Price <span class="text-danger">*</span></label>
                    <input type="number" name="price" id="id_price" class="form-control" step="0.01" min="0" placeholder="e.g. 10.50"
                        value="{% if product %}{{ product.price }}{% endif %}" required>
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <label for="id_description" class="form-label">Description</label>
                    <textarea name="description" id="id_description" class="form-control" placeholder="Enter description (optional)">{% if product %}{{ product.description }}{% endif %}</textarea>
                </div>

                <!-- Product Image -->
                <div class="mb-3">
                    <label for="id_image" class="form-label">Product Image</label>
                    <input type="file" name="image" id="id_image" class="form-control" accept="image/*">
                    {% if product and product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100" class="mt-2" style="object-fit: cover; border-radius: 6px;">
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">
                    {% if product %} Update Product{% else %} Save Product{% endif %}
                </button>
                <a href="{% url 'product_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}